/* ------------------------------------------------------ add.This */

.at-resp-share-element a {
	margin-bottom: 0px !important;
}

.at-share-btn:first-child {
	margin-left: 0px !important;
}

.social_box {
	margin-top: u((20rem/16));
	margin-bottom: u((30rem/16));
}

.addthis_sharing_toolbox a {
	
	line-height: 1em;
}


// Makes sure the share buttons fill their full space, thus removing extra spaces
.at4-show {
	display: table;
}

.at-share-tbx-element .at-share-btn {
	display: table-cell;
	padding-right: u((4rem/16));
}

.at-share-tbx-element .at-share-btn .at300bs {
	display: inherit !important;
}