/* Colours */
 
$orange: #F16347;
$green: #3F8F21;
$brown: #521D18;
$lightred: #f7c0c0;
$blue: #0099CC;
//$blue: #00224f;
$black: #000;
$darkgrey: #333333;
$midgrey: #666666;
$lightgrey: #ccc;
$verylightgrey: #efefef;
$white: #F9F9F9;
