/* ------------------------------------------------------ Layout Mobile */

.mob_1 {
	width: 100%*(65/320); /* one columns */
	float: left;
}

.mob_2 {
	width: 100%*(150/320); /* Two columns */
	float: left;
}

.mob_3 {
	width: 100%*(235/320); /* Three columns */
	float: left;
}

.mob_4 {
	width: 100%; /* Four columns */
	float: left;
}

.col_gutter, .mob_col_gutter {
	margin-right: 100%*(20/320);
}

/* ------------------------------------------------------ Layout grid - used in columns */

.mobile_grid {
	
	 @include flexbox();
	
	.mobile_grid_item {
		
		width: 100%;
		@include flex(1, 6, 20%);
		
		&:nth-child(2n+2) {
			margin-left: 100%*(20/320);
		}
	}
}

.grid {
	
	.grid_item {
		
		margin-bottom: u((5rem/16));
	}
}