/* ------------------------------------------------------ Layout Desktop B - 980 - 8 columns */
	
/*
[class*="tab_"] {
	width: auto;
	float: none;
	margin-right: auto;
}
*/
.desk_1 {
	width: 100%*(105/980); /* one columns */
	float: left;
}

.desk_2 {
	width: 100%*(230/980); /* Two columns */
	float: left;
}

.desk_3 {
	width: 100%*(355/980); /* Three columns */
	float: left;
}

.desk_4 {
	width: 100%*(480/980); /* Four columns */
	max-width: 100%*(480/980); /* Four columns */
	float: left;
}

.desk_4_alt {
	width: 100%*(470/980); /* Four columns */
	float: left;
	padding-right: 100%*(20/980);
	margin-right: 100%*(20/980);
	
	&:nth-child(2n+2) {
		margin-right: 0px;
		padding-right: 0px;
	}
}

.desk_5 {
	width: 100%*(605/980); /* Five columns */
	max-width: 100%*(605/980); /* Five columns */
	float: left;
}

.desk_6 {
	width: 100%*(730/980);/* Six columns */
	max-width: 100%*(730/980);/* Six columns */
	float: left;
}

.desk_7 {
	width: 100%*(855/980); /* Seven columns */
	max-width: 100%*(855/980); /* Seven columns */
	float: left;
}

.desk_8 {
	width: 100%;/* Eight columns */
	max-width: 100%;/* Eight columns */
	float: left;
}

.desk_3_columns {
	width: 100%*(313/980); /* 1/3 columns */
	float: left;
}

.mob_col_gutter, .tab_col_gutter {
	margin-right: 0px;
}

.col_gutter, .large_col_gutter, .desk_col_gutter, .desk_col_gutter {
	margin-right: 100%*(20/980);
}

/* ------------------------------------------------------ Layout Desktop B variations */

.desk_4 {
	
	.tab_1 {
		width: 100%*(105/480);
	}
	
	.tab_5 {
		width: 100%*(355/480);
	}
	
	.col_gutter {
		margin-right: 100%*(20/480);
	}
}

/* ------------------------------------------------------ Layout grid - used in columns */

.grid_large_device {
	
	 @include flexbox();
	
	.grid_item {
		
		width: 100%;
		@include flex(1, 6, 20%);
		
		&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
			margin-left: 100%*(20/980);
		}
	}
}

.grid {
		
	.grid_item {
		
		&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
			margin-left: 100%*(20/980);
		}
	}
}