/* ------------------------------------------------------ Buttons */

.button, .big_button, .full_button, .alt_button {
	font-family: $titleFont;
	letter-spacing: -1px;
	letter-spacing: (-1rem/16);
	width: 100%;
	//max-width: u((220rem/16));
	background: $green;
	@include font-size(16);
	@include line-height(38);
	height: u((40rem/16));
	text-decoration: none !important;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	@include transition(all, .3s, ease-in);
	color: white;
	
	&:link, &:visited {
		color: white;
	}
}

a.button, a.big_button, a.full_button, a.alt_button {
	
	&:hover, &:focus {
		background: $brown;
		color: white;
	}
}

.alt_button {
	background: $brown;

	&:link, &:visited {
		color: white;
	}
}

a.alt_button, {
	
	&:hover, &:focus {
		background: $green;
	}
}

.big_button, .full_button {
	text-transform: none;
	max-width: 100%;
	min-width: u((140rem/16));
	height: auto;
	min-height: u((40rem/16));
	
	[class^="icon-"], [class*=" icon-"] {
		display: inline-block;
		width: 10%;
		text-align: center;
		vertical-align: super;
		@include font-size(40);
		vertical-align: middle;
	}
	
	.button_text {
		display: inline-block;
		width: 80%;
		vertical-align: middle;
	}
}