a.menu-link {
   display: none;
}
.offcanvas .oc {
	position: static;
	display: none;
	visibility: hidden;
	float: left;
	width: 30%;
	height: 100%;
	
}
.wrap.active {
	left: 0;
}
.lorem {
	clear: none;
	margin-left: 30%;
}